*{
    padding: 0px;
    margin: 0px;
    
}

.logo{
    width: 120px;
    height: 75px;
}

.nav-bar-konum{
    padding-top: 15px;
}
.slider{
    margin-top: 75px;
}
.kartlar{
    margin-top: 150px;
    border:3px dashed rgb(131, 131, 131) ;
    padding: 20px;
    padding-bottom: 20px;
    
   
}
.bgoc{
    font-size: 20px;
}
.kartlar img{
    height: 200px;
}
.kartlar .card{
    margin-top: 35px;
}
.markalar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 128px;
}
.markalar-baslik{
    font-size: 20px;
}
.markalar-div{
    border:3px dashed rgb(131, 131, 131) ;
}
.swiper-div {
    padding-top: 50px;
    padding-bottom: 50px;
}
.social-media-text{
    padding-top:25px;
    font-size: 20px;
  }
.socil-media{
    margin-top: 40px;
    background-color: rgb(33, 10, 95);
}



.footer{
    background: #222;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem ,1fr));
    gap: 1.5rem;
}

.footer .box-container .box{
    padding: 2rem;
}

.footer .box-container .box h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding-bottom:1rem ;

}

.footer .box-container .box .text{
    color: #eee;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.8;
    padding-bottom:1rem ;
}

.footer .box-container .box .icon{
  padding: 1rem 0;  
}

.footer .box-container .box .icon a i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--main-color);
    text-align: center;
    font-size: 2rem;
    border-radius:50% ;
    margin: 0 .5rem;
    color: #fff;
}

.footer .box-container .box .icon a i:hover{
    color: var(--main-color);
    background: none;
    border: .2rem solid var(--main-color);
}

.footer .box-container .box .icons a {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin: 1.5rem 0;

}

.footer .box-container .box .icons a i{
    margin-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box .icons a:hover i{
    padding-right: 2rem;
    color: #fff;
}

.footer .box-container .box .icons a:hover {
    color: var(--main-color);
}

.footer .credit{
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid #808080;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color:#eee ;
}

.footer .credit span{
    color: var(--main-color);
}